# Copy this file to .env and change the password
# PostgreSQL
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo

# Odoo
ODOO_VERSION=19.0
ODOO_MASTER_PASSWORD=aaaa-bbbb-cccc

# Use "odoo --dev=xml,reload" for Windows development
# Use "odoo" for Linux production
ODOO_COMMAND=odoo --dev=xml,reload
